<div class="profile">
    <div class="profile-avatar">
        <img src="/images/avatar.jpg" alt="">
    </div>
    <h4 class="profile-full-name">Avatar Aang</h4>
    <p class="profile-stack">В основном пишу про веб - разработку, на React & Redux</p>
    <p class="profile-post-count">285 постов за все время</p>
    <a href="">
        <button>Редактировать</button>
    </a>
</div>