<div class="categories-container">
    <h2>Категории</h2>
    <a href="" class="category-name">Прогнозы в IT</a>
    <a href="" class="category-name">Веб-разработка</a>
    <a href="" class="category-name">Мобильная разработка</a>
    <a href="" class="category-name">Фриланс</a>
    <a href="" class="category-name">Алгоритмы</a>
    <a href="" class="category-name">Тестирование IT систем</a>
    <a href="" class="category-name">Разработка игр</a>
    <a href="" class="category-name">Дизайн и юзабилити</a>
    <a href="" class="category-name">Искуственный интелект</a>
    <a href="" class="category-name">Машинное обучение</a>
</div>