* {
	font-family: 'Roboto', cursive;
}

p,h6,h5,h4,button, input {
	font-size: 16px;
	line-height: 24px;
}
h2 {
    font-size: 36px;
    font-weight: 500;
}
h3 {
	font-size: 28px;
}
input {
	background: #fff;
	outline: none;
	border: 1px solid #E7E7E7;
	border-radius: 4px 0px 0px 4px;
	padding: 12px 20px;
}
input::placeholder {
	color: rgba(0, 0, 0, 0.54);
}
button {
	outline: none;
	border: none;
	border-radius: 0px 4px 4px 0px;
	background-color: #00A2DC;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 12px 20px;
	gap: 6px;
	cursor: pointer;
}
a {
	text-decoration: none;
}

html {    
	-webkit-tap-highlight-color: transparent;
	height: 100%;
}
body {
    height: 80vh;
    width: 100%;
	background-color: #F5F5F5;
    margin: 0px auto;
}
.wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
@font-face {
	font-family: 'Roboto';
	src: url('/assets/Roboto/Roboto-Regular.ttf');
}