<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <title>Blogs</title>
</head>
<body>
    <%- include('partials/header.ejs') %>  
    <div class="container">
        <div class="blogs">
            <h2 class="blogs-title">Блоги по программированию</h2>
            <p class="blogs-subtitle">
                Популярные и лучшие публикации по программированию для начинающих
                и профессиональных программистов и IT-специалистов.
            </p>                        
            <%- include('partials/blogs.ejs') %>
        </div>       
        <%- include('partials/categories.ejs') %>
    </div>  
</body>
</html>