.categories-container {
    width: 25%;
    height: max-content;
    padding: 36px 30px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.categories-container h2 {
    margin-bottom: 20px;
}

.category-name {
    color: #007BFF;
}