.header {
    max-height: 130px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
}

.header-search {
    display: flex;
    align-items: center;
}

.header-search input {
    width: 320px;
    
}

.header-auth {
    display: flex;
    align-items: center;
    gap: 20px;
}